@import url('https://fonts.googleapis.com/css2?family=Saira:wght@900&display=swap');

.navbar {
  width: 100%;
  color:white;
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index: 999;
  background: rgb(27, 27, 34);
}

.navbar.scrolled {
  background-color: rgb(49, 48, 48);
}

.container {
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 2px 50px 2px 50px;
}

.link {
  text-decoration: none;
  color: white;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navIconTitle{
  display: flex;
  justify-content: start;
  align-items: center;
}

.navIcon{
  padding: 5px;
  height: 40px;
  transform: rotate(-20deg);
}

.navTitle{
  padding: 4px;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.navIconTitle:hover{
  padding: 4px;
  transform:scale(1.1);
}